<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Adresse</h4>
                <p class="lead mb-0">
                    3 rue Bellevue
                    <br />
                    01100, Oyonnax
                </p>
            </div>
            {% if session['role'] is defined and session['role'] == 2 %}
                <div class="col mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Administration</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="admin" target=""><i class="fa-solid fa-screwdriver-wrench"></i></a>
                </div>
            {% endif %}
            <!-- Footer Social Icons-->
            <div class="col mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Mes réseaux</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/dylan-germann/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/DylanGermann" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <!-- Footer About Text-->

        </div>
    </div>
</footer>
