{% extends "template.html.twig" %}
{%  block main %}
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Page de connexion</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <form action="" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom</label>
                    <input type="text" class="form-control" name="lastname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre nom" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1">Prénom</label>
                    <input type="text" class="form-control" name="firstname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre prénom" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1">Adresse email</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre email" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Entrez votre mot de passe" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirmez votre mot de passe</label>
                    <input type="password" class="form-control" name="confirmedPassword" id="exampleInputPassword1" placeholder="Confirmez votre mot de passe" required>
                </div>
                <button type="submit" name="button-signup" class="btn btn-primary mt-2">S'inscrire</button>
            </form>
            {{ user.register }}
            <div>
                <span>Vous possédez déja un compte ?</span><br>
                <a href="./login">Connectez-vous</a>
            </div>
        </div>
    </section>
{% endblock %}
